<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>CodeFlix - Menu</ion-title>
      <button ion-item menuClose color="dark" (click)="goToMySettings()">
        <ion-avatar item-left>
          <img [src]="gravatarUrl" alt="gravatar">
        </ion-avatar>
        <!--<ion-item color="dark">-->
          <!--a interrogação serve para mostrar o nome se houver, caso contrario não mostra nada-->
          <h2>{{user?.name}}</h2>
        <!--</ion-item>-->
      </button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngIf="!(user?.subscription_valid);else menu_subscriber">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" color="dark">
        {{p.title}}
      </button>
    </ion-list>
    <!--menu do assinante-->
    <ng-template #menu_subscriber>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" color="dark">
          {{p.title}}
        </button>
      </ion-list>
    </ng-template>
  </ion-content>

  <ion-footer>
    <button menuClose ion-button text-right large color="light" block clear icon-right (click)="logout()">
      Logout <ion-icon name="exit"></ion-icon>
    </button>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<!--<ion-nav [root]="rootPage" #content></ion-nav>-->

<!--<button ion-button (click)="dispararAlert()">Disparar</button>-->
<!--<test></test>-->